header {
    background-color: #5AAAC3;
    font-family: 'Poiret One', cursive;
    font-size: 100px;
    color: #FFFFFF;
    margin-top: 25px;
    margin-right: -50px;
    margin-left: -50px;
    padding-bottom: 15px;
    border: double;
    border-width: 4px;
    border-color: #006381;
}

h1 {
    background-color: #5AAAC3;
    font-family: 'Poiret One', cursive;
    font-weight: lighter;
    font-size: 30px;
    color: #FFFFFF;
    margin-top: 5px;
    margin-right: -50px;
    margin-left: -50px;
    border: double;
    border-width: 2px;
    border-color: #006381;
}

body {
    background-color: #5890C1;
    text-align: center;
}

form {
    background-color: #83ADD2;
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: bold;
    margin: 20px 75px;
    border: double;
    border-color: #006381;
    padding-bottom: 15px;
}

footer {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    margin-bottom: 10px;
}

.selbtn {
    background-color: transparent;
    display: inline-block;
    cursor: pointer;
    color: black;
    font-family: 'Raleway';
    font-size: 17px;
    margin-left: 5px;
    padding: 7px 15px;
    text-decoration: none;
}

.campos {
    background-color: white;
    text-align: center;
    margin-right: 15px;
    font-family: 'Raleway';
    font-size: 15px;
    height: 25px;
    width: 250px;
    border-color: #BDBDBD;
    border-radius: 5px;
}

.camposFecha {
    background-color: white;
    text-align: center;
    font-family: 'Raleway';
    font-size: 15px;
    height: 25px;
    width: 160px;
    border-radius: 5px;
}

.sel {
    background-color: white;
    border-color: #006381;
    color: black;
    border-style: solid;
    border-width: 0.1px;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.resetsend {
    background-color: #8EC2F0;
    border-color: #006381;
    border-radius: 5px;
    color: black;
    font-family: 'Raleway';
}

.estilosmusicales {
    font-weight: lighter;
}

.oculto {
    display: none;
    color: red;
    font-weight: lighter;
}

.tArea {
    padding: 5px;
    text-align: center;
    font-family: 'Raleway';
    font-size: 15px;
    border-color: #BDBDBD;
}

.izq {
    background-color: #5AAAC3;
    text-align: center;
    margin-right: 15px;
    font-family: 'Raleway';
    color: black;
    font-size: 20px;
    height: 25px;
    width: 250px;
    border-radius: 5px;
}

.der {
    background-color: #83ADD2;
    text-align: center;
    margin-right: 15px;
    font-family: 'Raleway';
    font-size: 15px;
    height: 25px;
    width: 250px;
    border-radius: 5px;
}

.tabla {
    padding: 0;
    width: 40%;
    text-align: center;
    margin: 5% 5% 2% 30%;
}